body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
      background: whitesmoke;
      color:black  
}

footer {
    color:gray;
    font-size: 12px;
    margin-top: 14px;
    padding: 12px 6px;
}